*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    /* background-color: rgba(15, 15, 15, 0.925); */
    color: white;
    /* width: 100%; */
    height: 70px;
    display: flex;align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 0 20px;
    /* position: fixed; */
}
.all nav{
   background-color: black;
 }
nav ul li{
list-style: none;
display: inline;
}
nav ul li a{
    color: yellow;
    text-decoration: none;
    padding: 0 20px;
    font-weight: bolder;   
}
nav ul li a:hover{
    color:rgb(0, 204, 255);
}
.logo span{
    font-size: xx-large;
    color: yellow;
}
.container{
 padding: 10px 0;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(poom6.jpg);
    background-size: cover;
    background-position: center;
} 
.text {
    color: white;
    margin: 80px; 
    /* padding-bottom: 50px; */

}
.text h1{
    font-size: 50px;
    padding-bottom: 40px;
}
.text p{
    font-size: 20px;
    padding-bottom: 20px;
}
.order a{
    width: 30px;
    height: 50px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: transparent;
    color: yellow;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 130px;
}
.order a:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
}
.container1{
    width: auto;
    height: auto;
    /* background-color: black; */
    margin: 10px 30px;
}
.dishes h2{
    text-align: center;
    font-style: oblique;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.container1 .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    /* margin: auto; */
}
.row .card{
    background-color: transparent;
     /* color: white; */
     width: 100%;
     text-align: center;
     padding: 20px;
     border-radius: 10px;
}
.row .card img{
    height: 200px;
    border-radius: 20px 20px 0 0;
}
.row .card h3{
    font-size: 30px;
    color: yellow;
}
.row .card p{
    font-size: 20px;
    color: black;
}
.row .card h4{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.row .card:hover{
    box-shadow: 5px 5px 10px yellow;
    cursor: pointer;
    transition: 1s;
    background-color: rgb(114, 110, 110);
}
.btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 50px;
}
.btn a{
    text-decoration: none;
    /* border: 1px solid black; */
    height: 60px;
    padding: 20px;
    background-color: yellow;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}
.btn a:hover{
    background-color: black;
    color: yellow;
} 
.container2{
    background-color:black;
    color: white;
    width: 100%;
    height: auto;
}
.container2 .about{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-image: linear-gradient(90deg, white, black);
}
.container2 .about .about1 img{
    border-radius: 10px;
}
.container2 .about2 h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    /* border-bottom: 2px solid white; */
    color: yellow;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}
.container2 .about2 p{
    font-size: 20px;
    line-height: 1.5;
    padding-left: 50px;
    margin-bottom: 70px;

}
.container3{
    background-image: url(poom.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
}
.container3 .contact h1{
    text-align: center;
    padding-top: 20px;
    color: black;
    /* border-bottom: 2px solid white; */
    text-transform: capitalize;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container3 .contact1{
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.container3 .contact1 .contact-box1{
    display: flex;
    margin-bottom: 50px;
}
.container3 .contact1 .contact-box1 .contact-icon{
    margin-right: 30px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    color: yellow;
    background-color: black;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.container3 .contact1 .contact-box1 .contact-info h3{
    color: white;
    margin-bottom: 7px;
    text-transform: capitalize;
}
.contact-form{
    width: 40%;
    padding: 40px;
    background-color: white;
}
.contact-form h2{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
}
.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact-form .input-box input, 
.contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
}
.contact-form .input-box span{
    position: absolute;
    left: 0;
    padding-bottom: 30px;
    /* pointer-events: none; */
    /* transition: 0.5s; */
    text-transform: capitalize;
}
.contact-form .input-box input[type="submit"]{
    width: 100px;
    height: 40px;
    border: 2px solid yellow;
    background-color: black;
    color: yellow;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 7px;
    cursor: pointer;
}
footer{
    width: 100%;
    height: 40vh;
    background-color: black;
    color: white;
}
footer .info{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
footer .info h3{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}
footer .info .link1 a{
    display: block;
    padding: 10px 0;
    color: yellow;
    text-decoration: none;
}
footer .info .link1 a:hover{
    border-bottom: 2px solid rgb(0, 204, 255);
}
footer .news .form1{
     margin: 20px;
}
footer .news .form1 input{
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 20px;
    /* border-radius: 20px; */
}
footer .news .form2 input{
    margin-left: 20px;
    margin-top: 20px;
    width: 80%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid yellow;
    background-color: transparent;
    color: yellow;
}
footer .follow p{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
footer .follow .link2 i{
    padding: 15px;
    list-style: none;
}
footer .follow .link2 a{
    text-decoration: none;
    color: white;
}
footer p{
    color: yellow;
    text-align: right;
}
#fb{
    color: white;
    background: blue;
    border-radius: 20%;
}
#wa{
    color: white;
    background: rgb(4, 175, 4);
    border-radius: 20%;
}
#insta{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90% );
    color: white;
    border-radius: 20%;
}
#tw{
    color: white;
    background: blue;
    border-radius: 20%;
}
#tlgm{
    color: blue;
    background: white;
    border-radius: 20%;
  }